body{
display: flex;
flex-direction: column;
font-family: 'Roboto', sans-serif;
background-image: url(../img/background.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.header {
padding-top: 50px;
}
.container {
max-width: 1030px;
margin-left: auto;
margin-right: auto;
}
.header-info {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
display: inline-block;
vertical-align: middle;
}
.logo-link {
display: inline-block;
vertical-align: middle;
}
.hover-logo {
display: none;
position: absolute;
top:4px;
left: 0;
}
.header-title {
margin-left: 8px;
text-transform: uppercase;
font-weight: 700;
font-size: 29px;
line-height: 29px;
color: #FFFFFF;
display: inline-block;
vertical-align: middle;
}
.another-title-style{
display: block;
font-weight: 700;
font-size: 18px;
line-height: 18px;
}
.contacts {
text-align: right;
}
.mail-adress {
display: block;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
}
.phone-number {
display: block;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
}
.logo-link:hover .hover-logo{
display: inline-block;
vertical-align: middle;
}
.logo-link:hover .header-title{
    color: #F26522;
}
.mail-adress:hover{
    color: #F26522;
}
.phone-number:hover{
    color: #F26522;
}
.tours{
margin-top: 20px;
flex: 1 0 auto;
}
.tours-list {
display: flex;
flex-wrap: wrap;
gap: 60px 35px;
justify-content: space-between;

}
.tours-list-item {
position: relative;
overflow: hidden;
}

.tour-type {
min-height: 21px;
margin-top: 20px;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
text-align: center;
}
.hidden-block {
width: 100%;
position: absolute;
bottom: -55px;
min-height: 55px;
padding: 5px 15px 10px;
display: flex;
justify-content: space-between;
align-items: flex-end;
background-color: #F26522;
transition: ease-out 0.3s;
}
.tour-price {
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
}

.another-price-style {
position: relative;
font-size: 10px;
line-height: 10px;
bottom: 6px;
}
.tour-details {
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
}
.tour-details::after{
content: "";
display: inline-block;
background-image: url(../img/Vector1.svg);
background-size: contain;
height: 12px;
width: 7px;
background-repeat: no-repeat;
vertical-align: middle;
margin-left: 15px;
}
.tour-link:hover .hidden-block{
bottom: 40px;
}
.tour-link>img{
background: linear-gradient(29deg, rgba(255,255,255,1) 25%, rgba(0,0,0,1) 75%); 
}
.tour-link:hover .tour-type{
color: #F26522;
}
.footer {
margin-top: 49px;
padding-bottom: 15px;
}
.footer-text {
font-size: 12px;
line-height: 12px;
text-align: center;
color: #FFFFFF;
}
